.work-sans-normal {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
}

/* Header Section Styles */
.header{
  background-image: url(../Assets/images/banner1.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  display: flex;
  justify-content: right;
  align-items: center;
}
header .banner-content{
  text-align: right;
  margin-right: 230px;
}
header .banner-content h1{
  color: var(--Dark 01, rgba(21, 20, 20, 1));
  font-size: 65px;
  font-weight: 600;
  margin-bottom: 25px;
}
header .banner-content p{
  color: var(--Dark 02, rgba(68, 67, 67, 1));
  font-size: 16px;
  font-weight: 400;
  margin-top: 0px;
}
header .banner-content button{
  width: 160px;
  height: 64px;
  font-size: 20px;
  border: 0;
  border-radius: 5px;
  background-color: #F15B22;
  color:#FFFFFF;
}

/* Main Section Styles */
main{
  max-width: 1140px;
  margin: 0 auto;
}

/* Pre-year Section Styles */
.pre-year{
  display: flex;
  gap: 130px;
}
.pre-year .pre-year-img{
  margin-top: 140px;
}
.pre-year .pre-year-des{
  margin-top: 370px;
}
.pre-year .pre-year-des h1{
  color: var(--Dark 01, rgba(21, 20, 20, 1));
  font-size: 40px;
  font-weight: 600;
}
.pre-year .pre-year-des p, .list{
  color: var(--Dark 02, rgba(68, 67, 67, 1));
  font-size: 16px;
  font-weight: 400;
  list-style: none;
  margin-top: 30px;
}
.pre-year .pre-year-des {
  color: var(--Dark 02, rgba(68, 67, 67, 1));

}